{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended",
    "standard-with-typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "overrides": [
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["tsconfig.json"],
    "tsconfigRootDir": ".",
    "ecmaFeatures": {
      "jsx": true
    },
    "extraFileExtensions": [".vue"]
  },
  "plugins": [
    "vue",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
  }
}
